{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum id quae hic adipisci fugit aut officiis debitis ea? Optio, perferendis esse ipsum fuga laborum veritatis maiores magnam repellendus nulla culpa minima quidem explicabo perspiciatis corporis in natus, adipisci fugit nam provident quo eum. Officiis quibusdam quasi obcaecati eius, voluptatibus impedit reprehenderit exercitationem maxime ipsa placeat deleniti quos deserunt beatae numquam aliquam sit ipsam voluptates sapiente fugiat, adipisci consequatur itaque cum! Fugiat, tempora incidunt esse repellat nam voluptatibus at est reiciendis mollitia ipsa, ut, maxime sapiente in nobis aut obcaecati magnam facere porro illo. Tenetur iusto est quam enim facere! ipsum dolor sit amet consectetur adipisicing elit. Repellendus repellat deserunt dicta, vitae exercitationem harum odit. Facilis, consequatur, accusamus qui alias modi maiores consequuntur porro aperiam vitae eum, optio a!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="iniciarsesion">
                Iniciar Sesion
            </a>
            <a class="btn btn-primary" href="registro">
                Registrate
            </a>
        </div>
    </section>
</main>
{% endblock %}